main {
    display: flex;
    flex-direction: column;
}

.search {
    margin: 20px auto;
}
.search__input {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.search__value {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}